<h2>Veggie Burgers to Try!</h2>
<ul>
  {{#each burger}}
    {{#unless this.devoured}}
      <li>
        {{this.burger_name}}
        <form action="/{{this.id}}?_method=PUT" method="POST">
          <input type="hidden" name="devoured" value="true">
          <button type="submit">Devour</button>
        </form>
        
      </li>
      {{/unless}}
  {{/each}}
</ul>

<h2>The Burgers You Ate!</h2>

<ul>
  {{#each burger}}
    {{#if this.devoured}}
      <li>
        {{this.burger_name}}
      </li>
      {{/if}}
  {{/each}}
</ul>

<h2>Create a Burger:</h2>
<form class="create-update-form" action="/" method="POST">

  <div class="form-group">
    <label for="ca">Burger Name:</label>
    <input type="text" id="ca" name="burger_name">
    <button type="submit">Add A Burger</button>
  </div>

  
</form>


